doctype html

html(lang='en')
  head
    meta(charset='utf-8')

    block title
      title litto @ work

    link(
      rel='icon'
      href=`${WEB_ROOT}favicon.ico`
    )

    meta(
      name='description'
      content='litto\'s portfolio'
    )

    meta(
      name='viewport'
      content='width=device-width, initial-scale=1'
    )

    link(
      rel='stylesheet'
      href=`${WEB_ROOT}main.css`
    )

  body(id='♥')
    .header.main
      ul.nav
        li
          a(href=`${WEB_ROOT}`) 2018
        li 
          a(href=`${WEB_ROOT}2017`) 2017
        li 
          a(href=`${WEB_ROOT}201x`) 201&le;
    .main
      block content
        div no content

    .footer.main
      img(src=`${WEB_ROOT}img/litto.png`)

    block scripts
      script(src=`${WEB_ROOT}js/index.js`)
